@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

/* Import title font and default test font */
/*
font-family: 'Roboto', sans-serif;
font-weight value from 100 to 900 and italic style available
*/
.header__shoppingBag img {
  width: 35px;
  height: 35px;
  padding: 5px;
  border-radius: 5px;
  background-color: #EBE3D9;
}

.menu__container img {
  width: 35px;
}

.nav a {
  width: 35px;
}

.ToTopButton {
  height: 50px;
  width: 50px;
  background-color: transparent;
  background-image: url(/assets/img/arrow-up.svg);
  background-repeat: no-repeat;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Import title font and default test font */
/*
font-family: 'Roboto', sans-serif;
font-weight value from 100 to 900 and italic style available
*/
.card {
  font-family: "Roboto", sans-serif;
  color: black;
  background-color: #f9f6f3;
  width: 22rem;
  height: 25rem;
  display: flex;
  padding: 0.5rem;
  flex-direction: column;
  -ms-flex-align: start;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card__figure {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__figure img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 10px 10px;
}
.card h3 {
  font-size: 2rem;
  font-weight: 500;
  padding: 1rem 0 0.5rem 1rem;
}
.card__footer {
  margin-top: auto;
  padding: 1rem;
  padding-left: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 0 0 10px 10px;
}

.toggle-switch {
  position: relative;
  width: 50px;
  height: 25px;
  --light: #d8dbe0;
  --dark: #28292c;
  --link: rgb(27, 129, 112);
  --link-hover: rgb(24, 94, 82);
}

.switch-label {
  position: absolute;
  width: 100%;
  height: 25px;
  background-color: var(--dark);
  border-radius: 25px;
  cursor: pointer;
  border: 3px solid var(--dark);
}

.checkbox {
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  transition: 0.3s;
}

.checkbox:checked ~ .slider {
  background-color: var(--light);
}

.slider::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  box-shadow: inset 12px -4px 0px 0px var(--light);
  background-color: var(--dark);
  transition: 0.3s;
}

.checkbox:checked ~ .slider::before {
  transform: translateX(25px);
  background-color: var(--dark);
  box-shadow: none;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 10px;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}
.navbar__leftWrapper {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.navbar__leftWrapper__logoWrapper {
  width: 50px;
  height: 50px;
}
.navbar__leftWrapper__logoWrapper__logo {
  width: 100%;
  height: 100%;
}
.navbar__rightWrapper {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.navbar__rightWrapper__menuBurgerWrapper {
  position: relative;
}
.navbar__rightWrapper__menuBurgerWrapper__burgerImg {
  width: 50px;
  height: 50px;
}
.navbar__rightWrapper__menuBurgerWrapper__content {
  position: absolute;
  top: 500px;
}
.navbar__rightWrapper__menuBurgerWrapper__content ul {
  background-color: white;
  width: 200px;
  height: auto;
}

/* Import title font and default test font */
/*
font-family: 'Roboto', sans-serif;
font-weight value from 100 to 900 and italic style available
*/
body {
  background-color: #EBE3D9;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 769px) {
  .displayDesktop {
    display: block;
  }
}

.dark-mode {
  transition: 350ms ease-in-out;
  background-color: #20222e;
  color: white;
}
.dark-mode .menuBurgerImg {
  filter: invert(1);
}
.dark-mode header .ToTopButton {
  filter: invert(1);
}
.dark-mode .card {
  background-color: #313446;
  color: white;
}
.dark-mode footer a {
  color: white;
}
.dark-mode footer .footer__iconsItem img {
  filter: invert(1);
}

header {
  padding: 50px 15px;
}

.header__ImgRestoWrapper {
  height: 150px;
  background-image: url("../assets/img/resto.png");
  background-size: cover;
  background-position: 0 89%;
  border-radius: 10px;
  background-repeat: no-repeat;
  display: none;
  margin: 2%;
}
@media screen and (min-width: 768px) {
  .header__ImgRestoWrapper {
    display: block;
  }
}

.menu__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  row-gap: 1rem;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.menu__container .menu__starter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  row-gap: 1.5rem;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
}
.menu__container .menu__mainDish {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  row-gap: 1.5rem;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
}
.menu__container .menu__dessert {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  row-gap: 1.5rem;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
}

footer {
  font-family: "Roboto", sans-serif;
  border-top: 1px rgba(0, 0, 0, 0.2) outset;
}

.center {
  margin: auto;
  padding: 2%;
  text-align: center;
}

.c-footer__logo {
  width: 20%;
  margin-top: 1%;
}

.c-footer__linksWrapper {
  margin: 5% 0;
}
.c-footer__linksWrapper li {
  margin-bottom: 2%;
}
.c-footer__linksWrapper a {
  color: black;
  text-decoration: none;
  font-size: 2vw;
}

.c-footer__followUsText {
  font-size: 3vw;
  font-weight: 700;
  margin-bottom: 6%;
}

.footer__iconsItem {
  display: inline;
  padding: 0 5%;
}

.footer__icons {
  width: 6%;
}

@media screen and (min-width: 768px) {
  .c-footer__logo {
    width: 7%;
  }
  .c-footer__linksWrapper {
    margin: 3% 0;
  }
  .c-footer__linksWrapper li {
    display: inline;
    margin: 0 3%;
  }
  .c-footer__linksWrapper a {
    color: black;
    text-decoration: none;
    font-size: 1vw;
  }
  .c-footer__followUsText {
    font-size: 1.5vw;
    margin-bottom: 3%;
  }
  .footer__iconsItem {
    display: inline;
    padding: 0 3%;
  }
  .footer__icons {
    width: 2%;
  }
}
.header__shoppingBag .basketButton {
  position: relative;
}
.header__shoppingBag .basketButton .countBasket {
  position: absolute;
  top: 35px;
  right: 15px;
  background-color: #ff1616;
  font-family: "Roboto", sans-serif;
  font-size: 0.7em;
  border-radius: 100%;
  padding: 2px 2px;
}

.basketContent {
  background-color: white;
  color: black;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: 0.7em;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 10px 10px;
  border-radius: 10px;
}
.basketContent .totalBasket {
  text-align: right;
}

.basketItem {
  display: flex;
  flex-direction: row;
  color: black;
}
.basketItem button {
  width: 15px;
  height: auto;
}/*# sourceMappingURL=style.css.map */