@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

/* Import title font and default test font */
/*
font-family: 'Roboto', sans-serif;
font-weight value from 100 to 900 and italic style available
*/
.header__shoppingBag img {
  width: 35px;
  height: 35px;
  padding: 5px;
  border-radius: 5px;
  background-color: lightgrey;
}

.menu__container img {
  width: 35px;
}

.nav a {
  width: 35px;
}

/* Import title font and default test font */
/*
font-family: 'Roboto', sans-serif;
font-weight value from 100 to 900 and italic style available
*/
.card {
  font-family: "Roboto", sans-serif;
  color: black;
  background-color: #f9f6f3;
  width: 25rem;
  height: 25rem;
  display: flex;
  padding: 0.5rem;
  flex-direction: column;
  -ms-flex-align: start;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card__figure {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__figure img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 10px 10px;
}
.card h3 {
  font-size: 2rem;
  font-weight: 500;
  padding: 1rem 0 0.5rem 1rem;
}
.card__footer {
  margin-top: auto;
  padding: 1rem;
  padding-left: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 0 0 10px 10px;
}

#menu {
  display: none;
}

.menu-content ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  background-color: lightgrey;
  width: 500px;
}
.menu-content li {
  margin: 0;
  padding: 10px 20px;
  color: #fff;
}
.menu-content li img {
  width: 40px;
  height: 40px;
  padding: 5px;
  border-radius: 5px;
  background-color: lightgrey;
}
.menu-content li img {
  vertical-align: middle;
  margin-right: 5px;
}
.menu-content li:hover {
  background-color: #555;
}
.menu-content li a {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 768px) {
  .menu-content ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: lightgrey;
    width: 500px;
  }
  .menu-content li {
    padding: 10px 20px;
    color: #fff;
  }
  .menu-content li img {
    vertical-align: middle;
    margin-right: 5px;
  }
  .menu-content li:hover {
    background-color: #555;
  }
  .menu-content li a {
    text-decoration: none;
  }
  .menu-content {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding: 0 0 0 50px;
  }
  .collapsible-menu {
    background-color: rgb(255, 255, 255);
    padding: 0px 30px;
  }
  .collapsible-menu ul {
    list-style-type: none;
    padding: 0;
  }
  .collapsible-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
  }
  .collapsible-menu label {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
    display: block;
    cursor: pointer;
    background: url(/assets/img/burgermenu.svg) no-repeat left center;
    background-size: 25px;
    padding: 10px 0 10px 20px;
  }
  input#menu {
    display: none;
  }
  input:checked + label {
    background-image: url(/assets/img/burgermenuclosing.svg);
  }
  .menu-content {
    max-height: 0;
    overflow: hidden;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding: 0 0 0 40px;
  }
  /* Toggle Effect */
  input:checked ~ label {
    background-image: url(/assets/img/burgermenuclosing.svg);
  }
  input:checked ~ .menu-content {
    max-height: 100%;
  }
}
#menu {
  display: none;
}

.menu-content ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  background-color: lightgrey;
  width: 500px;
}
.menu-content li {
  margin: 0;
  padding: 10px 20px;
  color: #fff;
}
.menu-content li img {
  width: 35px;
  height: 35px;
  padding: 5px;
  border-radius: 5px;
  background-color: lightgrey;
}
.menu-content li img {
  vertical-align: middle;
  margin-right: 5px;
}
.menu-content li:hover {
  background-color: #555;
}
.menu-content li a {
  text-decoration: none;
  color: black;
}

/* Import title font and default test font */
/*
font-family: 'Roboto', sans-serif;
font-weight value from 100 to 900 and italic style available
*/
body {
  background-color: #EBE3D9;
}

.dark-mode {
  transition: 350ms ease-in-out;
  background-color: #20222e;
  color: white;
}
.dark-mode .card {
  background-color: #313446;
  color: white;
}

.header__ImgRestoWrapper {
  height: 150px;
  background-image: url("/assets/img/resto.png");
  background-size: cover;
  background-position: 0 89%;
  border-radius: 10px;
  background-repeat: no-repeat;
  display: none;
  margin: 2%;
}
@media screen and (min-width: 768px) {
  .header__ImgRestoWrapper {
    display: block;
  }
}

.header__logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.menu__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  row-gap: 1rem;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}

footer {
  font-family: "Roboto", sans-serif;
  border-top: 1px rgba(0, 0, 0, 0.2) outset;
}

.center {
  margin: auto;
  padding: 2%;
  text-align: center;
}

.c-footer__logo {
  width: 20%;
  margin-top: 1%;
}

.c-footer__linksWrapper {
  margin: 5% 0;
}
.c-footer__linksWrapper li {
  margin-bottom: 2%;
}
.c-footer__linksWrapper a {
  color: black;
  text-decoration: none;
  font-size: 2vw;
}

.c-footer__followUsText {
  font-size: 3vw;
  font-weight: 700;
  margin-bottom: 6%;
}

.footer__iconsItem {
  display: inline;
  padding: 0 5%;
}

.footer__icons {
  width: 6%;
}

@media screen and (min-width: 768px) {
  .c-footer__logo {
    width: 7%;
  }
  .c-footer__linksWrapper {
    margin: 3% 0;
  }
  .c-footer__linksWrapper li {
    display: inline;
    margin: 0 3%;
  }
  .c-footer__linksWrapper a {
    color: black;
    text-decoration: none;
    font-size: 1vw;
  }
  .c-footer__followUsText {
    font-size: 1.5vw;
    margin-bottom: 3%;
  }
  .footer__iconsItem {
    display: inline;
    padding: 0 3%;
  }
  .footer__icons {
    width: 2%;
  }
}/*# sourceMappingURL=style.css.map */