// sortings buttons


//shopping bag button
.header__shoppingBag{
    img{
        width: 35px;
        height: 35px;
        padding: 5px;
        border-radius: 5px;
        background-color: lightgrey
    }
}
// add to shopping bag
.menu__container{
    img{
        width: 35px;
    }
}

