.navbar {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 10px;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    &__leftWrapper {
        display: flex;
        flex-direction: row;
        width: auto;
        height: 100%;
        justify-content: center;
        align-items: center;
        gap: 10px;

        &__logoWrapper {
            width: 50px;
            height: 50px;
            
            &__logo {
                width: 100%;
                height: 100%;
            }
        }
    }

    &__rightWrapper {
        display: flex;
        flex-direction: row;
        width: auto;
        height: 100%;
        justify-content: center;
        align-items: center;
        gap: 10px;

        &__menuBurgerWrapper{
            position: relative;
        
            &__burgerImg {
                width: 50px;
                height: 50px;
            }
            
            &__content {
                position: absolute;
                top: 20px;
                ul {
                    background-color: white;
                    width: 200px;
                    height: auto;
                }
            }
        }

    }
}

