.navbar {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 10px;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    &__leftWrapper {
        display: flex;
        flex-direction: row;
        width: auto;
        height: 100%;
        justify-content: center;
        align-items: center;
        gap: 10px;

        &__logoWrapper {
            width: 50px;
            height: 50px;
            
            &__logo {
                width: 100%;
                height: 100%;
            }
        }
    }

    &__rightWrapper {
        display: flex;
        flex-direction: row;
        width: auto;
        height: auto;
        justify-content: center;
        align-items: center;
        gap: 0 50px;

        &__menuBurgerWrapper{

            &__burgerImg {
                width: 50px;
                height: 50px;
            }
            
           .menu-items {
            display: flex;
            gap: 0 10px;
            justify-content: center;
            align-items: center;

            .sortingButton {
                border-radius: 10px;
                background-color: $card-background-color;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 6px 10px;
                cursor: pointer;
                border: none;
            }
           }
        }

    }
}

.hamburger,
.hamburger-lines {
  display: none;
}

@media (max-width: 768px) {

    .hamburger,
    .hamburger-lines {
      display: block;
    }

    .navbar__rightWrapper__menuBurgerWrapper {
        display: block;
        position: relative;
        width: 50px;
        height: 50px;
    }

    .navbar__rightWrapper__menuBurgerWrapper
    .hamburger {
        position: relative;
        display: block;
        height: 32px;
        width: 30px;
        z-index: 5;
        opacity: 0;
      }
    .hamburger-lines {
        position: absolute;
        top: 10px;
        display: block;
        height: 23px;
        width: 35px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    
    .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: black;
      }
    .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
      }
    
    .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
      }
    
    .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
      }
      .menu-items {
        position: absolute;
        top: 50px;
        right: 10px;
        background: $background-color;
        height: 280px;
        width:100px;
        -webkit-box-shadow: 8px 9px 18px 9px rgba(56,56,56,0.83); 
        box-shadow: 8px 9px 18px 9px rgba(56,56,56,0.83);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px; 
        border-radius: 10px;
        transform-origin: 0% 0%;
        transform: translate(150%, 0);
        transition: transform 0.5s ease-in-out;

        li{
            padding: 10px;
        }
        }

    
        .navbar__rightWrapper__menuBurgerWrapper .hamburger:checked ~ .menu-items {
            transform: none;
          }
        
          .hamburger:checked ~ .hamburger-lines .line1 {
            transform: rotate(35deg);
          }
        
          .hamburger:checked ~ .hamburger-lines .line2 {
            transform: scaleY(0);
          }
        
          .hamburger:checked ~ .hamburger-lines .line3 {
            transform: rotate(-35deg);
          }
}