.header__shoppingBag {

  .basketButton {
    position: relative;
    
    .countBasket {
      position: absolute;
      top: 35px;
      right: 15px;
      background-color: #ff1616;
      font-family: $card-font-family;
      font-size: 0.7em;
      border-radius: 100%;
      padding: 2px 2px;
    }
  }
}
.basketContent{
  background-color: white;
  color:black;
  display: flex;
  font-family: $card-font-family;
  font-size: 0.7em;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 10px 10px;
  border-radius: 10px;

.totalBasket {
  text-align: right;
}
}

.basketItem{
  display: flex;
  flex-direction: row;
  color:black;
  
  
  button{
    width:15px;
    height:auto;
  }
}