header {
  padding: 2%;
}

.header__ImgRestoWrapper {
  height: 150px;
  background-image: url("../assets/img/resto.png");
  background-size: cover;
  background-position: 0 89%;
  border-radius: 10px;
  background-repeat: no-repeat;
  display: none;
  
  @media screen and (min-width: 768px){
    display:block;
  }
  margin: 2%;

}




